{
  "dev": {
    "REACT_APP_DB_PATH": "some/path/words.db",
    "REACT_APP_MODAL_WINDOW_PATH": "some/path/modal.html"
  },
  "qa": {
    "REACT_APP_DB_PATH": "some/path/words.db",
    "REACT_APP_MODAL_WINDOW_PATH": "some/path/modal.html"
  },
  "prod": {
    "REACT_APP_DB_PATH": "some/path/words.db",
    "REACT_APP_MODAL_WINDOW_PATH": "some/path/modal.html"
  }
}