@import '~styles/variables';

.react-calendar {
  background: $color-background-darker;
  border: none;

  .react-calendar__tile,
  .react-calendar__tile {
    color: $color-brand;
    border-radius: .3em;

    &:hover,
    &:focus {
      background: $color-brand-lighter;
      color: $color-text-title;
      box-shadow: 0 0 $size-shadow-calendar-day $color-brand-lightest;
    }
  }

  .react-calendar__tile--active,
  .react-calendar__tile--active:hover,
  .react-calendar__tile--active:focus {
    background: $color-brand;
    color: $color-text-title;
    box-shadow: 0 0 $size-shadow-calendar-day $color-brand-lightest;
  }

  .react-calendar__tile--now,
  .react-calendar__tile--now:focus {
    background: $color-brand-darker;
    color: $color-text-title;
    box-shadow: 0 0 $size-shadow-calendar-day $color-brand-lighter;
  }
  
  .react-calendar__navigation {
    .react-calendar__navigation__label {
      font-size: $size-font-calendar;
      color: $color-brand;
    }
  }
  
  .react-calendar__month-view__weekdays__weekday {
    font-size: $size-font-calendar;
  }
  
  .react-calendar__tile,
  .react-calendar__month-view__days__day {
    font-size: $size-font-calendar;
  }
}
