/* Colors. */
$color-background-darker: #220841;
$color-background-middle: #2e0c58;
$color-background-lighter: #2c0d51;
$color-text-title: white;
$color-text-area: #3f3f3f;
$color-text-area-darker: #2e2d2d;
$color-text-area-lighter: #5c5c5c;
$color-text-area-text: #8e9195;
$color-brand: #b493ac;
$color-brand-lightest: #fae0f3;
$color-brand-lighter: #dfc7d9;
$color-brand-darker: #86677f;
$color-shadow-title: #ff005b;
$color-tooltip-background: #333333;

/* Sizes. */
$space-min-default: .5em;
$space-min-absolute: 2px;
$size-font-title: 1.7em;
$size-font-calendar: 1em;
$size-shadow-title-logo: .75em;
$size-shadow-title-text: .5em;
$size-shadow-calendar-day: .3em;
$size-text-are-border-radius: .1rem;
$size-text-area-height: 5vh;
$size-fixed-width-button: 70px;
$size-fixed-height-button: 25.59px;