.App {
  display: grid;
  grid-template:
    'titleBar titleBar titleBar titleBar titleBar' .3fr
    'topPanel topPanel topPanel topPanel topPanel' 1fr
    'content  content  content  calendar calendar' 6fr / 3fr 2fr;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.App__TitleBar {
  grid-area: titleBar;
}

.App__TopPanel {
  grid-area: topPanel;
}

.App__Content {
  grid-area: content;
  overflow-y: scroll;
}

.App__CalendarWrapper {
  grid-area: calendar;
}