@import './variables';

.MainWrapper {
  height: 100%;
  background: $color-background-darker;
  color: $color-brand;
  display: flex;
  justify-content: center;
  align-items: center;

  & button {
    color: $color-brand; // Override ReactCalendar style.
  }

  & abbr[title] {
    text-decoration: none; // Override ReactCalendar style.
  }
}
