@import './variables';

.MainWrapper {
  height: 100%;
  display: grid;
  grid-template:
    'listWrapper'  5fr
    'adderWrapper' 1fr;
  background: $color-background-lighter;
  color: $color-brand;
  direction: ltr;
}

.ListWrapper {
  grid-area: listWrapper;
  padding: $space-min-default 0;
}

.AdderWrapper {
  grid-area: adderWrapper;
  padding: $space-min-default 0;
  background-color: $color-background-darker;
}