@import './variables';

.MainWrapper {
  height: 100%;
  display: grid;
  grid-template:
    'listWrapper'  6fr
    'adderWrapper' 1fr;
  background: $color-background-lighter;
  color: $color-brand;

  & * {
    margin: 0;
  }
}

.ListWrapper {
  grid-area: listWrapper;
  padding: $space-min-default 0;
}

.AdderWrapper {
  grid-area: adderWrapper;
}