.TitleBar {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.TitleBar__Nav {
  display: block;
  width: 100%;
  height: 30px;
  background: #333333;
  -webkit-app-region: drag;
}

.TitleBar__Buttons {
  width: 150px;
  height: 100%;
  line-height: 30px;
  float: right;
  background: #222222;
  -webkit-app-region: no-drag;
}

.TitleBar__Close,
.TitleBar__Minimize {
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
  color: #f7f7f7;
  transition: all ease-in-out .2s;
  cursor: default;
}

.TitleBar__Minimize:hover {
  background: #444444;
}

.TitleBar__Close:hover {
  background: #ff0000;
}