@import './variables';
@import './fonts';

.MainContainer {
  min-height: 100%;
  background: $color-background-darker;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.MainConteainer__LogoWrapper {
  margin-right: $space-min-default;
}

.MainContainer__Logo {
  width: 64px;
  height: 64px;
}

.MainContainer__Title {
  color: $color-text-title;
  font-family: 'Comfortaa', serif;
  font-size: $size-font-title;
  letter-spacing: $space-min-default;
}