@import './variables';

.WordForm {
  padding: 0 5px;
  display: grid;
  grid-template: 'textAreasWrapper buttonsWrapper' auto / 6fr 1fr;
}

.WordForm__TextAreasWrapper {
  grid-area: textAreasWrapper;
  display: flex;
}

.WordForm__ButtonsWrapper {
  grid-area: buttonsWrapper;
  display: flex;
  height: $size-text-area-height;
}

.TextAreaWrapper {
  padding-right: $space-min-absolute;
  height: $size-text-area-height;
  margin-bottom: 2px;
}

.WordForm__TextArea {
  height: 100%;
  padding: 0;
  resize: none;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: $color-text-area;
  color: $color-text-area-text;
  border: none;
  border-radius: $size-text-are-border-radius;
}

.WordForm__TextArea--FixedWidth {
  width: $size-fixed-width-text-area;
}

.WordForm__TextArea--FixedWidthExpanded {
  width: $size-fixed-width-text-area-expanded;
}

.WordForm__TextArea--RealValueHidden {
  font-style: italic;
  font-weight: bold;
}

.WordForm__TextArea--RealValueShown {
  font-style: normal;
  font-weight: normal;
}

.WordForm__Button {
  height: 100%;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: $color-text-area;
  color: $color-text-area-text;
  border: none;
  outline: none;

  &:hover {
    background-color: $color-text-area-lighter;
    border-color: $color-text-area-lighter;
  }

  &:active {
    background-color: $color-text-area-darker;
    border-color: $color-text-area-darker;
    outline: none;
  }
}

.WordForm__Button--CanBeDisabled {
  &:disabled {
    background-color: $color-text-area-darker;
    border-color: $color-text-area-darker;
  }
}

.WordForm__Button--FixedWidth {
  width: $size-fixed-width-button;
}

.WordForm__Button--FixedWidthHalf {
  width: calc(#{$size-fixed-width-button} / 2);
}
