@import './variables';

.WordForm {
  display: grid;
  grid-template: 'textAreasWrapper buttonsWrapper' auto / 6fr 1fr
}

.WordForm__TextAreasWrapper {
  grid-area: textAreasWrapper;
  display: flex;
}

.WordForm__ButtonsWrapper {
  grid-area: buttonsWrapper;
  display: flex;
}

.WordForm__TextArea {
  resize: none;
  text-align: center;
  height: $size-text-area-height;
  font-size: calc(#{$size-text-area-height} - 1);
  font-family: Arial, Helvetica, sans-serif;
  background-color: $color-text-area;
  color: $color-text-area-text;
  border: none;
  border-radius: $size-text-are-border-radius;
}

.WordForm__Button {
  line-height: initial;
  background-color: $color-text-area;
  border: solid $color-text-area;
  outline: none;

  &:hover {
    background-color: $color-text-area-lighter;
    border-color: $color-text-area-lighter;
  }

  &:active {
    background-color: $color-text-area-darker;
    border-color: $color-text-area-darker;
    outline: none;
  }
}

.WordForm__Button--WithTooltip {
  &:hover::after {
    position: absolute;
    content: attr(data-tooltip);
    background-color: $color-tooltip-background;
    color: white;
    margin: 1em 0;
    padding: .25em .5em;
    font-family: Arial, Helvetica, sans-serif;
  }
}
